/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-apppresser-hero-slider {
	position: relative;

	.hero-slider {
		position: relative;
		overflow: hidden;
	}
	
	.hero-slider .hero-slider-image {
		position: absolute;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		background-size: cover;
		background-position: center;
	}
	
	.hero-slider-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.hero-slider-inner-blocks {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
}

@keyframes imgFade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes kenBurnsEffect {
	0% {
	}
	95% {
	  transform: scale3d(1.5, 1.5, 1.5) translate3d(-10px, -10px, 0px);
	}
	100% {
	  transform: scale3d(1.7, 1.7, 1.7) translate3d(-10px, -10px, 0px);
	}
  }