/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .hero-slider-wrap {
	position: relative;
}

.hero-slider {
	position: relative;
	overflow: hidden;
	min-height: 400px;
}

.hero-slider .hero-slider-image {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	background-size: cover;
	background-position: center;
}

.hero-slider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.5);
}

.hero-slider-inner-blocks {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// .hero-slider .hero-slider-image {
// 	-webkit-animation-name: imgFade;
// 	-webkit-animation-timing-function: ease-in-out;
// 	-webkit-animation-iteration-count: infinite;
// 	-webkit-animation-duration: 2s;

// 	-moz-animation-name: imgFade;
// 	-moz-animation-timing-function: ease-in-out;
// 	-moz-animation-iteration-count: infinite;
// 	-moz-animation-duration: 2s;

// 	-o-animation-name: imgFade;
// 	-o-animation-timing-function: ease-in-out;
// 	-o-animation-iteration-count: infinite;
// 	-o-animation-duration: 2s;

// 	animation-name: imgFade;
// 	animation-timing-function: ease-in-out;
// 	animation-iteration-count: infinite;
// 	animation-duration: 2s;
// }

.hero-slider-image {
	animation: imgFade 8s ease-in-out infinite;
}

.hero-slider-image:nth-child(1) {
	animation-delay: 6s;
}

.hero-slider-image:nth-child(2) {
	animation-delay: 4s;
}

.hero-slider-image:nth-child(3) {
	animation-delay: 2s;
}

.hero-slider-image:nth-child(4) {
	animation-delay: 0s;
}

// @-webkit-keyframes imgFade {
// 	0% {
// 		opacity: 1;
// 	}
// 	17% {
// 		opacity: 1;
// 	}
// 	25% {
// 		opacity: 0;
// 	}
// 	92% {
// 		opacity: 0;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }

// @-moz-keyframes imgFade {
// 	0% {
// 		opacity: 1;
// 	}
// 	17% {
// 		opacity: 1;
// 	}
// 	25% {
// 		opacity: 0;
// 	}
// 	92% {
// 		opacity: 0;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }

// @-o-keyframes imgFade {
// 	0% {
// 		opacity: 1;
// 	}
// 	17% {
// 		opacity: 1;
// 	}
// 	25% {
// 		opacity: 0;
// 	}
// 	92% {
// 		opacity: 0;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }

@keyframes imgFade {
	0% {
		opacity: 1;
	}
	17% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
