/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-apppressser-group-parallax {
	position: relative;
	overflow: hidden;


	.bg-parallax {
		/* Adjustments for the parallax background */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1; /* Ensure the background is behind the content */
		background-position: center center;
	 }
	
	.bg-parallax-content > div {
		height: 100%;
	}

	.block-editor-block-list__layout:first-child {
		height: 100%;
	}

	.wp-block-group-is-layout-flex {
		height: 100%;
	}

}

@media screen and (max-width: 782px){
	.bg-parallax {
		background-position: center center !important;
	}
}